html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Swiss911';
  src: url('/fonts/swiss-911-extra-compr9c22f.ttf');
}

@font-face {
  font-family: 'ITCKorinna';
  src: url('/fonts/korinnastd-regular.otf');
}

@font-face {
  font-family: HelveticaInseratLT;
  src: url('/fonts/helveticainseratltstd-roman.otf');
}

@font-face {
  font-family: Univers75;
  src: url('/fonts/Univers\ CE\ 75\ Black.ttf');
}

@font-face {
  font-family: SteileFuturaBQ;
  src: url('/fonts/SteileFuturaBQ-Bold.otf');
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  /* width: 100vw;
  height: 100vh; */
  background-color: #cbcee1;
}

.container {
  display: grid; 
  grid-template-columns: 1.91fr 0.59fr 0.5fr; 
  grid-template-rows: 0.41fr 0.9fr 1.7fr 1fr 1fr; 
  gap: 10px 10px; 
  width: 1125px;
  height: 651.5;
  z-index: auto;
}

.header {
  grid-area: 1 / 1 / 2 / 4;
}

h1 {
  text-align: center;
  font-family: gyparody;
  font-size: 48px;
  color: white;
  background-color: #010a78;
  margin-top: 10px;
  border: 4px solid black;
}

.rules {
  width: 400px;
  height: 200px;
  background-color: white;
  z-index: 1;
  position: absolute;
  margin-top: 200px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #cbcee1;
  box-shadow: 10px 10px black;
  outline: #010a78 2px dotted;
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
}

.wager-container {
  width: 470px;
  height: 100px;
  z-index: 1;
  position: absolute;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.daily-double-wager {
  width: 470px;
  height: 100px;
  z-index: 1;
  position: absolute;
  margin-top: 200px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(1, 10, 120, 0.85);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.7);
  outline-offset: -10px;
  display: flex;
  flex-direction: row;
  font-size: 36px;
  color: white;
}

h2 {
  text-align: center;
  margin-top: 15px;
  font-family: ITCKorinna;
}

p {
  margin-left: 20px;
  font-family: ITCKorinna;
}

ul {
  margin-left: 15px;
  margin-right: 15px;
  font-family: ITCKorinna;
}

.board {
  grid-area: 2 / 1 / 5 / 2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 4px solid black;
  width: 800px;
  aspect-ratio: 16/9;
}

.clue {
  grid-area: 3 / 2 / 4 / 4  ;
  background-color: #010a78; 
  color: white;
  font-family: ITCKorinna;
  text-shadow: black 2px 2px;
  font-size: 20px;
  border: 4px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 1;
}

.final-jeopardy-wager {
  grid-area: 3 / 2 / 4 / 4  ;
  background-color: #010a78; 
  color: white;
  font-family: ITCKorinna;
  text-shadow: black 2px 2px;
  font-size: 20px;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 0;
}

.timer {
  font-size: 50px;
  color: white;
  font-family: HelveticaInseratLT;
}

.message {
  grid-area: 4 / 2 / 5 / 4;
  background-color: #010a78;
  border: 4px solid black;
  font-family: ITCKorinna;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.daily-double-message {
  font-family: SteileFuturaBQ;
  font-size: 100px;
  line-height: 80px;
}

.answer-board {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a1 a2 a3"; 
  grid-area: 5 / 1 / 6 / 4;
  background-color: #010a78; 
  color: white;
  font-family: ITCKorinna;
  text-shadow: black 2px 2px;
  font-size: 20px;
  height: 100px;
  align-items: center;
  justify-items: center;
  border: 4px solid black;
}

.a1 {
  grid-area: a1;
}

.a2 {
  grid-area: a2;
}
.a3 {
  grid-area: a3;
}

button#dark {
  grid-area: 1 / 3 / 2 / 4;
  margin-top: 25px;
  width: 40px;
  height: 30px;
  padding: 0px 0px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  /* background-color: #070608; */
  z-index: 2;
}

button#rules {
  opacity: 0.7;
  margin-left: auto;
  margin-right: auto;
}

.squares {
  border: 3px solid black;
  background-color: #010a78; 
  font-family: HelveticaInseratLT;
  font-size: 18px;
  line-height: 20px;
  color: white;
  text-shadow: black 1px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.final-jeopardy-board {
  grid-area: 2 / 1 / 5 / 2;
  background-color: #010a78;
  border: 4px solid black;
  width: 800px;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  line-height: 130px;
}

.FJF {
 font-family: SteileFuturaBQ;
 font-size: 140px;
 animation: tada;
 animation-duration: 2s;
}

.FJJ {
  font-family: gyparody;
  font-size: 150px;
  animation: tada;
  animation-duration: 2s;
}

.scores {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.7fr 1.3fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "player-one-name player-two-name"
    "player-one-score player-two-score"; 
  grid-area: 2 / 2 / 3 / 4; 
  background-color: #010a78;
  border: 4px solid black;
  color: white;
  text-align: center;
  font-family: ITCKorinna;
  font-size: 20px;
  padding-top: 10px;
}

.player-one-name {
  grid-area: player-one-name;
}

.player-one-score {
  grid-area: player-one-score;
  font-family: Univers75;
  font-size: 120%;
}

.player-two-name {
  grid-area: player-two-name;
}

.player-two-score {
  grid-area: player-two-score;
  font-family: Univers75;
  font-size: 25px;
}

input[type=name-text-one] {
  width: 100%;
  border-radius: 5px;
}

input[type=name-text-two] {
  width: 100%;
  border-radius: 5px;
}

.daily-double-wager {
  width: 90%;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.squares.one {
  color: #d7a04b;
  font-size: 40px;
  font-family: Swiss911;
  text-shadow: black 3px 3px;
}

.squares.two {
  color: #d7a04b;
  font-size: 40px;
  font-family: Swiss911;
  text-shadow: black 3px 3px;
}

.squares.three {
  color: #d7a04b;
  font-size: 40px;
  font-family: Swiss911;
  text-shadow: black 3px 3px;
}

.squares.four {
  color: #d7a04b;
  font-size: 40px;
  font-family: Swiss911;
  text-shadow: black 3px 3px;
}

.squares.five {
  color: #d7a04b;
  font-size: 40px;
  font-family: Swiss911;
  text-shadow: black 3px 3px;
}

.squares.six {
  color: #d7a04b;
  font-size: 40px;
  font-family: Swiss911;
  text-shadow: black 3px 3px;
}