html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Swiss911';
  src: url('/fonts/swiss-911-extra-compr9c22f.ttf');
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 3px solid black;
  width: 700px;
  /* width: 60vmax; */
  aspect-ratio: 16/9;
  margin-left: 100px;
}

.squares {
  border: 3px solid black;
  background-color: #010a78; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
}

.squares.one {
  font-family: Swiss911;
  color: #d7a04b;
  font-size: 40px;
  -webkit-text-stroke: 0.5px #6e5761;
  text-shadow: black 2px 2px;
}

.squares.two {
  font-family: Swiss911;
  color: #d7a04b;
  font-size: 40px;
  -webkit-text-stroke: 0.5px #6e5761;
  text-shadow: black 2px 2px;
}

.squares.three {
  font-family: Swiss911;
  color: #d7a04b;
  font-size: 40px;
  -webkit-text-stroke: 0.5px #6e5761;
  text-shadow: black 2px 2px;
}

.squares.four {
  font-family: Swiss911;
  color: #d7a04b;
  font-size: 40px;
  -webkit-text-stroke: 0.5px #6e5761;
  text-shadow: black 2px 2px;
}

.squares.five {
  font-family: Swiss911;
  color: #d7a04b;
  font-size: 40px;
  -webkit-text-stroke: 0.5px #6e5761;
  text-shadow: black 2px 2px;
}

.squares.six {
  font-family: Swiss911;
  color: #d7a04b;
  font-size: 40px;
  -webkit-text-stroke: 0.5px #6e5761;
  text-shadow: black 2px 2px;
}